 @import  '../../categories/universal.scss'; 

.goal-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 600px;
    left: 5px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    text-align: center;
    justify-content: center; 
    margin: 32px 0;
    color: black;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .goal-form {
    margin-bottom: 32px;
    text-align: center;
    justify-content: center;
  }
  
  .goal-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid $base-color-blue;
    outline: none;
    width: 300px;
    background: transparent;
    color: black;
  }
  
  .goal-input::placeholder {
    color: black;
  }
  
  .goal-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
  
    background-color: $base-color-blue;
    color: #fff;
    text-transform: capitalize;
  }
  
  .goal-input.edit {
    border: 2px solid #149fff;
  }
  
  .goal-button.edit {
  background-color: $base-color-blue;
    padding: 16px 22px;
  }
  
  .goal-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .goal-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgb(65, 122, 84) 0%,
      rgb(9, 77, 48) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .goal-row:nth-child(4n + 1) {
   background-color: $base-color-blue;
  }
  
  .goal-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  
  .goal-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
     $base-color-blue
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }