.container-button-timer{
    left:40em;
    margin-top:50px;
    border-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 9cm;
    & .btn-timer{
        cursor: pointer;
        color: white;
        padding: 11px 28px;
        border: 0;
        background-color: #008CBA;
        border-color: whitesmoke;
        // border-radius: 10px;
        border: 2px solid #008CBA;
        font-size: 16px;
        
    }
    :hover {background-color: white;
             color: black}

}