html {
    scroll-behavior: smooth;
  }

.box-right {
    position: relative;
    top: 10%;
    left: 50%;
    margin-bottom: 3%;
    transform: translate(-50%, 10%);
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    display: flex;
}
.box-left {
    position: relative;
    top: 10%;
    left: 50%;
    margin-bottom: 3%;
    transform: translate(-50%, 10%);
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    display: flex;
}

.wrap {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.about_topic {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 50px;
    vertical-align: baseline;
}
.about_content{
    color: black; 
    display: inline-block;
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 25px;
    margin-top: 20px;
    
    
}

.code {
    width: 70%;
    height: 50%;
    display: block;
    position: relative; 
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: "1px";
    border-radius: 5%;
    padding: 0;
    max-width: 200%;
   
}

.chocolate {
    width: 60%;
    height: 60%;
    display: block;
    position: relative; 
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    background: none;
    border: "1px";
    border-radius: 5%;
}
.aboutRow1 {
    min-height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}
.about1content{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
}
.about1content h4{
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 8vh;
    color: black;
}
.about1content div{
    padding-left: 10%;
    color: black;
}
.about1content div p{
  letter-spacing: -1px;
  margin-right:auto;
  text-align:left;
  color: black;
  font-size: 2vh;
  width: 500px;
}
.about1content div a{
    color: black;
}
.about1content div a:hover{
    text-decoration: underline;
}
.abtimg1{
    width: 60%;
    height: 90%;
    padding-left: 5%;
    padding-right: 10%;
}
.aboutRow2 {
    min-height: 300px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    background-color: rgba(7, 110, 179, 0.836);
    padding: 10px;
}
.about2content{
    padding-right: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.about2content h4{
    padding-left: 40%;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 8vh;
    color: white;
    text-align: left;
}
.about2content div{
    padding-left: 50%;
    color: white;
}
.about2content div p{
  letter-spacing: -1px;
  margin-right:auto;
  text-align:left;
  color: white;
  font-size: 2vh;
  width: 500px;
}
.about2content div a{
    color: white;
}
.about2content div a:hover{
    text-decoration: underline;
}
.abtimg2{
}