:root {
    --text-color: #f0f4f5;
    --background-color: #263343; 
    --accent-color: #d49466; 
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #add8e6; 
}

.navbar_logo {
    font-size: 24px; 
    color: var(--text-color); 
    size: 10px;
}

.navbar_logo i {
    color: var(--accent-color); 
}

.navbar_menu {
    display: flex; 
    list-style: none;   
    padding-left: 0;  
}

.navbar_menu a {
    color: black;
    font-weight: bold;
}
.navbar_menu li {
    padding: 8px 12px; 
}

.navbar_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px; 
}

.navbar_icons a {
    transition: .3s linear; 
    color: black;
}

.navbar_icons a:hover {
    color: #2196F3;
}

.navbar_icons {
    list-style: none; 
    color: var(--text-color); 
    display: flex;
}

.navbar_icons li {
    padding: 8px 12px; 
}

.navbar_toogleBtn {
    display: none; 
    position: absolute; 
    right: 32px; 
    font-size:24px; 
    color: var(--accent-color);
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: flex-start;
        padding: 8px 24px;  
    }

    .navbar_menu {
        display: none; 
        flex-direction: column; 
        align-items: center; 
        width: 100%
    }

    .navbar_menu li {
        width: 100%;
        text-align: center; 
    }

    .navbar_icons {
        display: none; 
        justify-content: center; 
        width: 100%;
    }

    .navbar_toogleBtn {
        display: block; 
    }

    .navbar_menu.active, 
    .navbar_icons.active {
        display: flex; 
    }
}
