.left-half {
    width: 50%;
}

.WeeklyGoals-container {
    margin-left: 10%;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
}

.left-half .table-container {
    float: left;
    width: 100%;
}

.right-half {
    float: right;
    width: 50%;
    height: 50%;
}

.calender-container {
    float: right;    
    margin: 20px 30px;
    border: 2px solid lightgray;
}



.left-half .buttons-container {
    float: left;
    position: absolute;
    bottom: 5px;
    width: 50%;
    height: 60px;
    
}

.buttons-container {
    text-align: center;
    justify-content: center;

}




