/* .App .buttons {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    margin: 5px;
    
} */

.left-half .buttons-container {
    float: left;
    position: absolute;
    bottom: 5px;
    width: 50%;
    height: 60px;
    
}

.buttons-container {
    text-align: center;
    justify-content: center;

}

.calender-container {
    float: right;
    width: 50%;
}

.table-container {
    float: left;
    width: 100%;
}

.left-half .table-container, .left-half .buttons-container{
    float: left;
    width: 50%;
}