.familyBtn {
    background-color: #ff8800;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 2px 2px lightgray;
    width: 10%
    }
  
    .familyBtn:hover {
      background-color: #ff8800c7;
      color: black;
    }