.friendBtn {
    background-color:rgb(118, 85, 150);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 5px;
    font-weight: bold;
    width: 10%;
    box-shadow: 0px 2px 2px lightgray;
  
    }
  
    .friendBtn:hover {
      background-color:rgba(117, 85, 150, 0.658);
      color: white;
    }