.healthBtn {
  
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
  background-color: #fbff00;
  font-weight: bold;
  width: 10%;
  box-shadow: 0px 2px 2px lightgray;
}

.healthBtn:hover {
  background-color:#fbff0085;
}