.routineBtn {
    background-color: #6d6d6d;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 5px;
    font-weight: bold;
    width: 10%;
    box-shadow: 0px 2px 2px lightgray;
  
    }
  
    .routineBtn:hover {
      background-color:#6d6d6db6;
      color: white;
    }